@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=DynaPuff:wght@400..700&family=Jua&family=Yesteryear&display=swap');


html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  scroll-behavior: smooth;
}

/* bg content */

body.bgBooth3{
    background: linear-gradient(to bottom, #e69adf, #b5dbf7);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}


/* logo */

.bglogo{
background: linear-gradient(to bottom, #b5dbf7,#e98adf );   display: flex;
   align-items: center;           
   flex-wrap: wrap;
   position: sticky;
   top: 0;
   z-index: 10;
   position: relative;
}

.logo {
    width: 150px;  
    height: 150px; 
    object-fit: cover; 
    margin-bottom: 0px;
    border-radius: 5px; 
}

.name_menu{
    font-family: "Yesteryear", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color:#0c5f7a;
}

.menu a{
    text-decoration: none;
    color: #284b63;
    font-size: 16px;
    margin: 10px 0px 10px 10px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s ease;
}

.content{
    text-align: center;   
    margin-top: 35px;
}

.content img{
    border-radius: 8px; 
    box-shadow: 0 3px 5px rgba(0,0,0,0.1); 

}

/* บล็อกสินค้า */

.frame{
    display: flex; 
    gap: 30px; 
    margin: auto;
    flex-wrap: wrap;
}

.blush{
    margin-top: 30px;
    max-width: 50%; 
    height: auto;
    border-radius: 20px; 
    background-color: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(10px);
    border: 2px solid #fff;
    border-radius: 8px; 
    padding:10px;
    margin: 20px;
    max-width: 200px; 
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;   
    box-shadow: 0 10px 25px rgba(0,0,0,0.05); 
    transition: all 0.4s ease;
}

.blush:hover {
    transform: translateY(-10px); 
    background-color: #ffffff; 
    box-shadow: 0 15px 35px rgba(255, 182, 193, 0.4);
}

.blush img{
    max-width: 100%; 
    height: auto;
    border-radius: 5px;
}

.textblush{
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    text-align: center;   
    color: #11507a;
    font-size: 18px;
}

/* Hamburger */
.hamburger{
  background-color: blue;
}

.hamburger-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: relative; 
  z-index: 1000; 
}

.hamburger-icon span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #0a4355f9;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}


.navigation-menu {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 250px;
  left: -250px; 
  transition: left 0.3s ease-in-out, 
              box-shadow 0.3s ease-in-out; 
  z-index: 2000; 
  padding-top: 80px; 


  
}

#nav-menu {
  background-color: #efe3ef; 
}

.navigation-menu ul {
  list-style: none;
  padding: 0;
}

.navigation-menu li {
  margin-bottom: 20px;
}

.navigation-menu a {
    font-family: 'Mali', cursive !important; 
    font-size: 20px;
    font-weight: 400; 
    text-decoration: none;
    color: #444242;
    margin: 10px 0px 10px 10px;
    display: block;
}

.navigation-menu.is-active {
  left: 0;
}


.hamburger-icon.is-active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-icon.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.is-active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Hamburger end */


/* แถบเมนูใน Hamburger */

.side-list > li { 
  margin:8px 0; 
}

.side-list a {
  display:flex; 
  align-items:center; 
  gap:12px;
  padding:6px 8px; 
  border-radius:8px; 
  text-decoration:none; 
  color:inherit;
}


.side-list a:hover { 
  background:#e6d9e6; 
}

.icon{ 
  width:20px; 
  text-align:center; 
}


.side-logo {
    margin-top: -13px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.label{
    font-family: 'Sukhumvit Set', sans-serif;
    display: flex;
    padding: 0px;
    background-size: cover;
    min-height: calc(100vh - var(--footer-h));    
    overflow-x: hidden;
    flex-direction: column;
    padding-bottom:0px;

}

/* แถบเมนูใน Hamburger end*/

/* footer */
.footer{
    background-color: hsl(209, 86%, 78%);
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}



 h2 {
   font-family: "DM Serif Text", serif;
   font-weight: 400;
   font-style: normal;
   text-align: center; 
   margin-top: 40px;
   margin-bottom: 20px;
   letter-spacing: 1px;
}

.main-slider-wrapper {
    display: flex;
    align-items: flex-start; 
    width: 900px; 
    max-width: 100%;
    margin: 20px auto;
}

.slider-component {
    flex: 2; 
    position: relative;
}

/* กล่องข้อความด้านข้าง */
.slider-text-content {
    flex: 1; 
    margin-left: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    min-height: 150px;
}

.slider-container {
    width: 100%; 
    margin: 0;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden; 
    position: absolute;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}
.slider-btn:hover {
    background-color: rgba(255, 255, 255, 1);
}
.prev-btn { left: 10px; }
.next-btn { right: 10px; }

.slider-nav {
    text-align: center;
    padding-top: 15px;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #c0c0c0;
    border: none;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s ease;
    
}

.dot.active {
    background-color: #333;
}


@media (max-width: 768px) {
    .main-slider-wrapper {
        flex-direction: column; 
    }
    .slider-text-content {
        margin-left: 0; 
        margin-top: 20px; 
        width: 100%; 
        box-sizing: border-box; 
    }
    .slide img {
        height: 300px; 
    }
}

h2 {
    color: #333;
}

.main-slider-wrapper {
    display: flex;
    align-items: flex-start; 
    width: 900px; 
    max-width: 95%;
    margin: 20px auto;
}

.slider-component {
    flex: 2; 
    position: relative;
}

/*  กล่องข้อความด้านข้าง */
.slider-text-content {
    flex: 1; 
    margin-left: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    min-height: 150px;
}

.slider-text-content a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    background: linear-gradient(45deg, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    color: white; 
    text-decoration: none; 
    border-radius: 30px; 
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(255, 154, 158, 0.4); 
    transition: all 0.3s ease;
    font-family: 'Mali', cursive; 
}

.slider-text-content a:hover {
    transform: translateY(-3px); 
    box-shadow: 0 6px 20px rgba(255, 154, 158, 0.6);
}
.slider-container {
    width: 100%; 
    margin: 0;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden; 
}
.slide img {
    width: 100%;
    display: block;
    height: 350px; 
    object-fit: cover;
}
.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    display: block;
    height: 400px;
    object-fit: cover;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}
.slider-btn:hover {
    background-color: rgba(255, 255, 255, 1);
}
.prev-btn { left: 10px; }
.next-btn { right: 10px; }


.slider-nav {
    text-align: center;
    padding-top: 15px;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #c0c0c0;
    border: none;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #333;
}


@media (max-width: 768px) {
    .main-slider-wrapper {
        flex-direction: column; /
    }
    .slider-text-content {
        margin-left: 0; 
        margin-top: 20px; 
        width: 100%;
        box-sizing: border-box;
    }
    .slide img {
        height: 300px; 
    }
}


/* ฟองสบู่ */

.bubbles {
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    z-index: -1; 
}

.bubble {
    position: absolute;
    display: block; 
    border-radius: 50%; 
    background-color: rgba(77, 71, 71, 0.623); 
    
    animation: animateBubbles 25s linear infinite, 
               sideWays 5s ease-in-out infinite alternate,
               changeColor 10s linear infinite;    
    bottom: -150px; 
    
    width: 20px;
    height: 20px;
    left: 10%; 
}

.bubble:nth-child(1) { left: 25%; width: 80px; height: 80px; 
    animation-delay: 0s, 0s, 0s; 
    animation-duration: 15s, 6s, 10s; 
}

.bubble:nth-child(2) { left: 10%; width: 20px; height: 20px; 
    animation-delay: 2s, 1s, -5s; 
    animation-duration: 12s, 4s, 10s; 
}

.bubble:nth-child(3) { left: 70%; width: 20px; height: 20px; 
    animation-delay: 4s, 2s, 0s; 
    animation-duration: 18s, 5s, 10s; 
}

.bubble:nth-child(4) { left: 40%; width: 60px; height: 60px; 
    animation-delay: 0s, 0.5s, -5s; 
    animation-duration: 20s, 7s, 10s; 
}

.bubble:nth-child(5) { left: 65%; width: 20px; height: 20px; 
    animation-delay: 0s, 1.5s, 0s; 
    animation-duration: 25s, 3s, 10s; 
}

.bubble:nth-child(6) { left: 75%; width: 110px; height: 110px; 
    animation-delay: 3s, 2.5s, -5s; 
    animation-duration: 14s, 8s, 10s; 
}

.bubble:nth-child(7) { left: 35%; width: 150px; height: 150px; 
    animation-delay: 7s, 3.5s, 0s; 
    animation-duration: 22s, 6.5s, 10s; 
}

.bubble:nth-child(8) { left: 50%; width: 25px; height: 25px; 
    animation-delay: 15s, 4.5s, -5s; 
    animation-duration: 16s, 5.5s, 10s; 
}

.bubble:nth-child(9) { left: 20%; width: 15px; height: 15px; 
    animation-delay: 2s, 5.5s, 0s; 
    animation-duration: 35s, 9s, 10s; 
}

.bubble:nth-child(10){ left: 85%; width: 150px; height: 150px; 
    animation-delay: 11s, 6.5s, -5s; 
    animation-duration: 11s, 7.5s, 10s; 
}
.bubble:nth-child(11) { left: 15%; width: 30px; height: 30px; 
    animation-delay: 1s, 0.5s, 0s; 
    animation-duration: 16s, 5s, 10s; 
}
.bubble:nth-child(12) { left: 45%; width: 50px; height: 50px; 
    animation-delay: 3s, 2s, -5s; 
    animation-duration: 14s, 4s, 10s; 
}
.bubble:nth-child(13) { left: 80%; width: 25px; height: 25px; 
    animation-delay: 5s, 3s, 0s; 
    animation-duration: 19s, 6s, 10s; 
}
.bubble:nth-child(14) { left: 55%; width: 70px; height: 70px; 
    animation-delay: 6s, 1s, -5s; 
    animation-duration: 13s, 5s, 10s; 
}
.bubble:nth-child(15) { left: 30%; width: 100px; height: 100px; 
    animation-delay: 8s, 2.5s, 0s; 
    animation-duration: 17s, 7s, 10s; 
}
.bubble:nth-child(16) { left: 18%; width: 40px; height: 40px; 
    animation-delay: 9s, 3s, 0s; /* ขาว */
    animation-duration: 18s, 5s, 15s; 
}
.bubble:nth-child(17) { left: 38%; width: 65px; height: 65px; 
    animation-delay: 10s, 4s, -5s; /* ชมพู */
    animation-duration: 15s, 6s, 15s; 
}
.bubble:nth-child(18) { left: 58%; width: 20px; height: 20px; 
    animation-delay: 12s, 1s, -10s; /* ฟ้า */
    animation-duration: 20s, 4s, 15s; 
}
.bubble:nth-child(19) { left: 78%; width: 85px; height: 85px; 
    animation-delay: 14s, 2s, 0s; /* ขาว */
    animation-duration: 16s, 7s, 15s; 
}
.bubble:nth-child(20) { left: 88%; width: 35px; height: 35px; 
    animation-delay: 16s, 5s, -5s; /* ชมพู */
    animation-duration: 19s, 5s, 15s; 
}

@keyframes animateBubbles {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg); 
        opacity: 0; 
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px; 
    }
    100% {
        margin-left: 50px;
    }
}


@keyframes changeColor {
    0% {
        background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.493));
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.603);
    }
    33% {
        background: radial-gradient(circle at 30% 30%, rgba(255, 192, 203, 0.644), rgba(255, 192, 203, 0.582));
        box-shadow: 0 0 15px rgb(247, 163, 177);
    }
    66% {
        background: radial-gradient(circle at 30% 30%, rgba(143, 207, 228, 0.911), rgba(55, 191, 236, 0.795));
        box-shadow: 0 0 15px rgba(79, 173, 204, 0.603);
    }
    100% {
        background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.658), rgba(255, 255, 255, 0.664));
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.521);
    }
}


header, main, footer {
    position: relative; 
    z-index: 1;
    background-color: transparent; 
}

body {
    background-color: #2980b9; 
    margin: 0;
    min-height: 100vh;
}